<h3>Travel Search</h3>
<div class="form-group">
  <!-- <form [formGroup]="form" (ngSubmit)="searchConnections()"> -->
  <mat-form-field>
    <input matInput placeholder="Search Departure Station" aria-label="State" [matAutocomplete]="destauto"
      [formControl]="searchDepartureStationsCtrl" class="form-control" name="originput">
    <mat-autocomplete #destauto="matAutocomplete">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let depstation of filteredDepartureStations" [value]="depstation.name">
          <span><b>{{depstation.name}}</b></span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="travelDate" name="inputdate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Input a Time</mat-label>
    <input placeholder="00:00" matInput [(ngModel)]="travelTime" name="inputtime">
  </mat-form-field>
  <br>



  <mat-form-field>
    <input matInput placeholder="Search Destination Station" aria-label="State" [matAutocomplete]="depauto"
      [formControl]="searchDestinationStationsCtrl" class="form-control" name="destinput">
    <mat-autocomplete #depauto="matAutocomplete">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let deststation of filteredDestinationStations" [value]="deststation.name">
          <span><b>{{deststation.name}}</b></span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
    <mat-label>Number of Travellers</mat-label>
    <input placeholder="1" matInput [(ngModel)]="numberOfTRavellers">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>tariff Class</mat-label>
    <input placeholder="2" matInput [(ngModel)]="tariffClass">
  </mat-form-field>


  <div class="form-group">
    <button class="btn btn-default" (click)="searchConnections()"
      [disabled]="!searchDepartureStationsCtrl.value || !searchDestinationStationsCtrl.value" name="btnsearch">
      Search
    </button>
    <ng-container *ngIf="isWaiting" style="margin-left:10px">
      <div class="overlay"></div>
      <mat-spinner [diameter]="35"></mat-spinner>
    </ng-container>

  </div>

  <div class="row" name="result">

    <div *ngFor="let connectiondao of foundConnections">
      <app-connection-card [connection]="connectiondao">

      </app-connection-card>
    </div>
    <div [hidden]="emptyMessage" class="alert alert-danger">
      An error occured. Please try again later
  </div>
  </div>


</div>
